/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* row 0: R1 */
                &kp A   &kp B

                /* row 1: R2 */
                &kp C   &kp D
            >;
        };
    };
};
